body {
    background-color: #008000;
}

header {
    text-align: center;
}

.dealcards {
    text-align: center;
}

.playcards {
    text-align: center;
}

#message {
    text-align: center;
}

.bet {
    display: block;
}

.deal {
    width: 50px;
}

.card {
    height: 125px;
}

.dealer {
    text-align: center;
}

.player {
    text-align: center;
}

#playerscore {
    text-align: center;
}

#dealerscore {
    text-align: center;
}